.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-builder {
  width: 20%;
  height: 100%;
  background-color: #f0f0f0;
  padding: 20px;
}

.whiteboard {
  width: 70%;
  height: 100%;
  background-color: #ffffff;
  padding: 20px;
}

.editboard{
  width: 20%;
  height: 100%;
  background-color: #f0f0f0;
  float: right;
  margin-right: 0;
}
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 90%;
  background-color: wheat;
  padding: 20px;
}

.modal-row {
  margin-bottom: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.grid-item {
  border: 1px solid gray;
  padding: 10px;
}








